
.alert {
    background: #f2edda;
    padding: 5px;
    font-size: .9em;
    margin-bottom: 10px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-10px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
